%fieldset.lane{ :id => "lane_#{ sample.lane }" }
  %legend.details<
    Lane <span class="lane">#{ sample.lane }</span>, Sample: <span class="sample">#{ sample.name }</span>

  = thumbnail_for(sample, left, :left)
  = thumbnail_for(sample, right, :right)
