%h1<
  Batch ID: <span class="batch_id">#{ @batch.id }</span> (<span class="status">#{ status_of(@batch) }</span>)

- unless flash[ :events ].blank?
  %ol#image_events
    - flash[ :events ].each do |message|
      %li= h(message)

- semantic_form_for(@batch, :html => { :method => :put, :multipart => true }) do |f|
  #thumbnails
    - @batch.lane_organised_images do |sample,left,right|
      = render(:partial => 'lane', :locals => { :sample => sample, :left => left, :right => right })

  - f.inputs do
    =f.input :image, :as => :file
  - f.buttons do
    = f.commit_button 'Upload'
